---
import { Picture } from "astro:assets";
import type { CollectionKey } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Anchor from "@components/Anchor.astro";
import { getLocaleCollection, getOptimizedImage } from "@utils";
import { useTranslations, getRelativeLocaleUrl } from "@i18n/utils";

interface Props {
  collection: CollectionKey;
}

const { collection } = Astro.props;

const posts = await getLocaleCollection(collection, Astro.currentLocale);
const translate = useTranslations(Astro.currentLocale!);
const optimizedImages = await Promise.all(
  posts.map(({ data: { images } }) => getOptimizedImage({ image: images[0] }))
);
---

<script>
  const preloadResponsiveImage = (srcset: string) => {
    const preloadLink = document.createElement("link");
    preloadLink.rel = "preload";
    preloadLink.as = "image";
    preloadLink.imageSrcset = srcset;
    document.head.appendChild(preloadLink);
  };

  const previewImages =
    document.querySelectorAll<HTMLImageElement>(".preview-image");

  previewImages.forEach((previewImage) => {
    const onPreload = (event: Event) => {
      const target = event.target;
      const dataSrcset = "data-srcset";
      if (
        target instanceof HTMLAnchorElement &&
        target.hasAttribute(dataSrcset)
      ) {
        preloadResponsiveImage(target.getAttribute(dataSrcset)!);
        target.removeAttribute(dataSrcset);
      }
    };
    previewImage.addEventListener("mouseenter", onPreload, {
      once: true,
    });
    previewImage.addEventListener("focus", onPreload, {
      once: true,
    });
    previewImage.addEventListener("touchstart", onPreload, {
      once: true,
      passive: true,
    });
  });
</script>

<Layout titlePrefix={translate(collection)}>
  <Nav currentPage={collection} />
  <h2 class="sr-only">{translate(`${collection}Heading`)}</h2>
  <ul class="pt-8 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    {
      posts.map(({ id, data, slug }, index) => (
        <li>
          <Anchor
            href={getRelativeLocaleUrl(
              Astro.currentLocale || "en",
              `${collection}/${slug.replace("fr/", "")}`
            )}
            classname="preview-image group grid !no-underline"
            data-srcset={optimizedImages[index].srcSet.attribute}
          >
            <Picture
              transition:name={`${id}-image`}
              pictureAttributes={{
                class: "col-start-1 row-start-1",
                "aria-hidden": true,
              }}
              class="mx-auto object-contain rounded-md ff7:rounded-none"
              src={data.images[0]}
              alt={data.imagesAlt[0]}
              width={250.75}
              height={250.75}
              densities={[1.5, 2]}
              loading={index > 3 ? "lazy" : "eager"}
            />

            <h3
              class="
              relative col-start-1 row-start-1 rounded-md ff7:rounded-none opacity-0 overflow-hidden transition-opacity
              duration-[250ms] hover:opacity-100 group-focus-visible:opacity-100 group-active:opacity-100 
              text-center flex items-center justify-center p-2 bg-real-white/50 dark:bg-real-black/50 ff7:bg-real-black/50 
              font-mono text-base text-balance text-real-black dark:text-real-white ff7:text-real-white"
            >
              <span transition:name={`${id}-title`}>{data.title}</span>
            </h3>
          </Anchor>
        </li>
      ))
    }
  </ul>
</Layout>
