---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { CollectionKey } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import H2 from "@components/H2.astro";
import Anchor from "@components/Anchor.astro";
import { getLocaleCollection } from "@utils";

interface Props {
  titlePrefix: string;
  collection: CollectionKey;
}

const { titlePrefix, collection } = Astro.props;

const posts = await getLocaleCollection(collection, Astro.currentLocale);
---

<Layout titlePrefix={titlePrefix}>
  <Nav currentPage={collection} />
  <ul class="pt-8 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
    {
      posts.map(({ id, data, slug }) => (
        <li>
          <Anchor
            href={getRelativeLocaleUrl(
              Astro.currentLocale || "en",
              `${collection}/${slug.replace("fr/", "")}`
            )}
            classname="hover:no-underline focus-visible:no-underline"
          >
            <div class="relative overflow-hidden">
              <Image
                transition:name={`${id}-image`}
                class="object-contain rounded-md"
                src={data.images[0]}
                alt={data.title}
              />
              <div class="absolute rounded-b-md left-0 top-0 opacity-0 transition-opacity duration-[250ms] hover:opacity-100 focus-visible:opacity-100 w-full h-full text-center flex items-center justify-center p-2 bg-realWhite dark:bg-realBlack ff7:bg-realBlack bg-opacity-50 dark:bg-opacity-50 ff7:bg-opacity-50">
                <H2
                  classname="text-base text-realBlack dark:text-realWhite ff7:text-realWhite"
                  aria-hidden="true"
                  transition:name={`${id}-title`}
                >
                  {data.title}
                </H2>
              </div>
            </div>
          </Anchor>
        </li>
      ))
    }
  </ul>
</Layout>
