---
import clsx from "clsx";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";

import { useTranslations } from "@i18n/utils";
import Anchor from "./Anchor.astro";

const pages = ["games", "movies", "books", "music", "events", "merch"] as const;

type Page = (typeof pages)[number];

interface Props {
  currentPage: Page;
}

const { currentPage } = Astro.props;
const translate = useTranslations(Astro.currentLocale!);
---

<nav aria-label={translate("categories")}>
  <ul
    class={clsx(
      "relative grid grid-cols-[auto_auto] sm:grid-cols-[auto_auto_auto] md:grid-cols-[auto_auto_auto_auto_auto_auto] gap-2 md:gap-0",
      "before:absolute before:border-b before:w-8 before:-left-8 before:-bottom-[0px] before:hidden md:before:block",
      "after:absolute after:border-b after:w-4 after:-right-4 after:-bottom-[0px] after:hidden md:ff7:after:block"
    )}
  >
    {
      pages.map((page) => {
        const isCurrent = currentPage === page;
        const translatedPage = translate(page);
        return (
          <li class="relative md:p-2 text-center">
            <Anchor
              href={
                isCurrent
                  ? ""
                  : getRelativeLocaleUrl(
                      Astro.currentLocale || "en",
                      page === "games" ? "" : page
                    )
              }
              classname={clsx(
                "relative z-10 group hover:before:hidden focus-visible:before:hidden text-xl uppercase font-mono break-words flex flex-wrap gap-2 items-center justify-center",
                isCurrent && "font-bold"
              )}
              aria-current={isCurrent ? "page" : undefined}
            >
              <div class="pointer group-hover:before:block group-focus-visible:before:block">
                <Icon name={page} aria-hidden="true" width="24" height="24" />
              </div>
              <span transition:name={`${translatedPage}-link`}>
                {translatedPage}
              </span>
            </Anchor>
            <div
              transition:name={`${page}-active-sides`}
              class={clsx(
                "hidden md:block absolute top-0 left-0 w-full h-full border-t ",
                isCurrent ? "border-x" : "translate-y-full top-[-1px]"
              )}
            />
          </li>
        );
      })
    }
  </ul>
</nav>

<h2 class="sr-only">
  {translate(`${currentPage}Heading` as Page)}
</h2>
