---
interface Props {
  titlePrefix?: string;
  description?: string;
  breadcrumbs?: { name: string; path?: string }[];
}

import { getRelativeLocaleUrl } from "astro:i18n";
import Anchor from "@components/Anchor.astro";
import { useTranslations, getOtherLocalePathname } from "@i18n/utils";
import Breadcrumb from "@components/Breadcrumb.astro";
import BustedSword from "@components/BustedSword.astro";

const translate = useTranslations(Astro.currentLocale);
const isFrench = Astro.currentLocale === "fr";
const otherLocaleUrl = getOtherLocalePathname(isFrench, Astro.url.pathname);
const { titlePrefix, description: descriptionProp, breadcrumbs } = Astro.props;

const title = translate("title");
const titleMeta = titlePrefix ? `${titlePrefix} | ${title}` : title;
const description = descriptionProp || translate("description");
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {
      isFrench ? (
        <link rel="canonical" href={`https://ff7.rocks${otherLocaleUrl}`} />
      ) : null
    }
    <title>{titleMeta}</title>
    <meta name="description" content={description} />

    <meta name="twitter:image" content="https://ff7.rocks/share.png" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:title" content={titleMeta} />
    <meta name="twitter:site" content="@sylvhama" />
    <meta name="twitter:card" content="summary" />

    <meta property="og:title" content={titleMeta} />
    <meta property="og:image" content="https://ff7.rocks/share.png" />
    <meta property="og:image:width" content="1254" />
    <meta property="og:image:height" content="665" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ff7.rocks" />
    <meta property="og:description" content={description} />
    <meta property="og:locale" content={Astro.currentLocale} />
  </head>
  <body
    class="mx-auto max-w-[67.5rem] pt-8 bg-white px-4 dark:bg-black dark:text-white"
  >
    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <main>
      <div
        class="pb-4 grid grid-cols-[minmax(0px,_1fr)_auto_auto] items-start gap-4"
      >
        <div>
          {breadcrumbs ? <Breadcrumb breadcrumbs={breadcrumbs} /> : null}
        </div>
        <Anchor href={otherLocaleUrl}>
          {translate("langLink")}
        </Anchor>
        <Anchor
          href={getRelativeLocaleUrl(Astro.currentLocale || "en", "settings")}
          classname="hover:no-underline focus-visible:no-underline"
          ><span
            title={translate("settings")}
            aria-label={translate("settings")}>⚙️</span
          ></Anchor
        >
      </div>

      <h1 class="pb-8 text-3xl font-bold">
        {title}
      </h1>

      <slot />

      <BustedSword />

      <footer class="flex flex-wrap gap-x-2">
        <p>
          {translate("madeBy")}
          <Anchor href={`https://shamann.${isFrench ? "fr" : "dev"}`}
            >Sylvain Hamann</Anchor
          >
        </p>
        <span aria-hidden="true">|</span>
        <Anchor href="https://github.com/sylvhama/ffvii"
          >{translate("github")}</Anchor
        >
      </footer>
    </main>
  </body>
</html>
